---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<header>
	<nav class="nav-bar">
		<a href="/" class="nav-logo">HuskerJS</a>
		<div class="nav-links">
			<a href="/" class="nav-link">Home</a>
			<a href="/about" class="nav-link">About</a>
			<a href="/blog" class="nav-link">Blog</a>
			<a href="/schedule" class="nav-link">Schedule</a>
			<a href="/resources" class="nav-link">Resources</a>
		</div>
		<div class="right-nav">
			<input></input>
			<button class="contact-btn">Contact</button>
		</div>
		
	</nav>
</header>
<div class="hero-div">
	<div class="left-hero">
		<h1>Go Big Red</h1>
		<p>Greatest fans in all of college football</p>
		<button>Read Blog</button>
	</div>
	<img src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1667772672/huskerjs_anhfcy.jpg" class="hero-image" />
</div>

<style>
/* Header */
header {
	background-color: black;
}
.nav-bar {
	display: flex;
	padding: 20px 20px;
	justify-content: space-between;
}
.nav-logo {
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.nav-logo:hover {
	color: yellow;
}
.nav-link {
	color: white;
	text-decoration: none;
	font-size: 1.10rem;
}
.nav-link:hover {
	color: red;
}
.right-nav {
	display: flex;
}
.contact-btn {
	margin-left: 4px;
}

/* Hero */
.hero-div {
	background-color: red;
	color: white;
	display: flex;
}
.left-hero {
	padding: 10px 30px;
}

.hero-image {
	width: 400px;
	height: 300px;
	padding-left: 50px;
}
</style>